@charset "UTF-8";


@media (min-width: 1025px) and (max-width: 1200px){
    .navegacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background: linear-gradient( to top, #11172000,#11172086, #111720);
    }
    header{
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    }
    .cabecalho-logo{
        height: 50px;
        width: 50px;
    }
    .logo-imagem{
        width: auto;
        height: 250px;
    }
    .botao{
        padding: 15px;
        font-size: 1em;
    }
    
    .atuacoes-secao{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
        margin-bottom: 100px;
        margin-top: 50px;
    }
    .atuacoes-secao > h3{
        font-size: 2em;
        padding: 50px;
        font-family: var(--fonte_logo);
    }
    #imagem-secao-digital{
        background: url(../imagens/note-secao-digital.jpg);
        height: 300px;
        width: 500px;
    }
    .imagem-digital{
        display: none;
    }
    .direito-digital{
        width: 700px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .direito-digital > p,h1,h2{
        max-width: 500px;
        margin: 0 auto;
    }
    #digital:hover{
        background-color: white;
        color: black;
        box-shadow: none;
    }

    #imagem-secao-familiar{
        background: url(../imagens/familia-secao-familia.jpg);
        height: 300px;
        width: 500px;
    }
    .imagem-familia{
        display: none;
    }
    .direito-familiar{
        width: 700px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .direito-familiar > p,h1,h2{
        max-width: 500px;
        margin: 0 auto;
    }
    #familiar:hover{
        background-color: white;
        color: black;
        box-shadow: none;
    }

    #imagem-secao-trabalhista{
        background: url(../imagens/trabalhador-secao-trabalhista.jpg);
        height: 300px;
        width: 500px;
    }
    .imagem-trabalhador{
        display: none;
    }
    .direito-trabalhista{
        width: 700px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .direito-trabalhista > p,h1,h2{
        max-width: 500px;
        margin: 0 auto;
    }
    #trabalhista:hover{
        background-color: white;
        color: black;
        box-shadow: none;
    }
    #digital,#familiar,#trabalhista{
        font-size: 1em;
        max-width: 900px;
        display: flex;
        flex-direction: row;
        padding: 0;
        overflow: hidden;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 30px;
    }
    .dados-complementares > ul > li > strong{
        font-size: 5em;
    }
    .dados-complementares > ul > li > div{
        text-align: center;
        margin-bottom: 50px;
    }
    .sobre-advogado{
        display: flex;
        flex-direction: row;
        background-color: lightgray;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }
   
    .sobre-advogado p, h1{
        max-width: 600px;
    }
    .sobre-advogado h1{
        font-size: 2em;
    }
    .sobre-advogado p{
        font-size: 1.2em;
    }
    
   
    .sobre-advogado img{
        filter: drop-shadow(30px 30px 30px rgba(0, 0, 0, 0.404));
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }
    footer > div > ul{
        flex-direction: column;
        display: flex;
        align-items: start;
    }
    footer iframe{
        height: 200px;
        width: 400px;
    }
}
