@charset "UTF-8";

:root{
    --cor_principal:#111720;
    --cor_botões: #2e2e4b;
    --cor_logo: #E4BD8C;

    --fonte_padrao: Arial, Helvetica;
    --fonte_logo: Woodland, serif;
    --fonte_numeros:"Protest Strike", sans-serif;
}


@media (min-width: 768px) and (max-width: 1024px){

    .navegacao{
        display: block;
    }
    .botao-div{
        padding-right: 50px;
    }
    header{
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    }
    .cabecalho-links > a{
        text-decoration: none;
        color: white;
        padding-right: 30px;
    }
    .cabecalho-logo{
        height: 50px;
        width: 50px;
    }
    .logo-imagem{
        width: auto;
        height: 180px;
    }
    .botao{
        padding: 10px;
        font-size: 1em;
    }
    .atuacoes-secao{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
        margin-bottom: 100px;
        margin-top: 50px;
    }
    #digital,#familiar,#trabalhista{
        width: 700px;
        height: auto;
        margin: 0 auto;
    }
    .digital{
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .trabalhista{
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    .familiar{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .dados-complementares > ul > li > strong{
        font-size: 5em;
    }
    .dados-complementares > ul > li > div{
        text-align: center;
        margin-bottom: 50px;
    }
    .atuacoes-secao > h3{
        font-size: 2em;
        padding: 50px;
        font-family: var(--fonte_logo);
    }
    .sobre-advogado{
        display: flex;
        flex-direction: row;
        background-color: lightgray;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }
   
    .sobre-advogado p{
        max-width: 500px;
        font-size: 1.2em;
    }
    .sobre-advogado h1{
        font-size: 2em;
    }
    .sobre-advogado img{
        filter: drop-shadow(30px 30px 30px rgba(0, 0, 0, 0.404));
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }
    footer > div > ul{
        flex-direction: column;
        display: flex;
        align-items: start;
    }
}